.bundle
db/*.sqlite3
log/*.log
tmp/
*.swp
config/bliss.yml
config/database.yml
config/deploy/testing.rb
config/deploy/production.rb
config/deploy/deploy_local.rb
.current
.vimrc
*.out
doc/api
doc/app
.session
vendor/bundle
.gdbinit
core
public/images
public/system
public/javascripts/all.js
public/stylesheets/all.css
.DS_Store
vendor/ruby/*
.idea/*
.editorconfig
