<div class="container">
  <div class="row">
    <div class="col m4 s4">
          <input type="text" placeholder="search" size=40 title="Enter to search" id="key_word" onkeyup="search_repo();">
          <span class="fa fa-search"></span>
    </div>
  </div>
</div>
