<% if @message.present? %>
Materialize.toast("<%= @message %> <a href='javascript:;' onclick='closeToast();'><i class='material-icons close'>close</i></a>", 4000, 'green');
<% end %>
$("#fav_repo_<%= @repository.id %>").html("<%= escape_javascript(render partial: 'repositories/favourite_repo', locals: {repository: @repository}) %>");
function closeToast() {
  $('.green').remove();
};
<% unless current_user.present? %>
  Materialize.toast("Please login first <a href='javascript:;' onclick='closeToast();'><i class='material-icons close'>close</i></a>", 4000, 'red');
<% end %>
