Materialize.toast('<%= @message %>', 4000, 'green');
$("#fav_repo_<%= @repository.id %>").html("<%= escape_javascript(render partial: 'repositories/favourite_repo', locals: {repository: @repository}) %>");
<% unless current_user.present? %>
  var $toastContent = $('<span>Please login first</span>');
  Materialize.toast($toastContent, 4000, 'red');
<% end %>
