<main class="no-padding">
  <div class="section white">
    <div class="container">
      <!-- iterate for all repos -->
      <div class="row">
        <div class="col m12 s12">
          <div class="section">
          <%= render partial: 'repositories_view', locals: { repositories: @repositories} %>
          <input type="hidden" id="loaded_page" value="">
        </div>
        </div>
      </div>
      <!-- row complete-->
    </div>
  </div>
</main>
