<main class="no-padding">
  <div class="section white">
    <%= render partial: "search_form" %>
    <div class="container">
      <!-- iterate for all repos -->
      <div class="row">
        <div class="col m12 s12">
          <%= render partial: 'repositories_view', locals: { repositories: @repositories} %>
        </div>
      </div>
      <!-- row complete-->
    </div>
  </div>
</main>
<script>
function search_repo()
{
  $.ajax({
    url: '/repositories/search/',
    type: 'get',
    data: {key_word: $("#key_word")[0].value}
  });
}
</script>
