<main>
  <section class="repositories-listing">
    <div class="container">
      <div id="freewall">
        <%= render partial: 'repositories_view', locals: { repositories: @repositories } %>
        <input type="hidden" id="loaded_page" value="">
      </div>
    </div>
  </section>
</main>
<div class="row"></div>
