<section class="z-depth-1" id="splash-blue">
  <div class="container">
    <div class="row">
      <div id="payoff" class="col s12 center-align">
        <h1 class="white-text main-title">Connect. Add. Share.</h1>
        <h5 class="white-text sub-title">Show off your research and development<br>
        open source your knowledge and make better community for today and tomorrow</h5>
        <!-- <h5 class="white-text sub-title">Create APIs, service based apps &amp; high value integrations in a few clicks</h5> -->
      </div>
    </div>
    <div class="row github_login">
      <a href="/auth/github" class="waves-effect waves-light btn white text-primarycolor modal-trigger"><i class="fa fa-github" style="color: #689f38 !important"></i></i> SIGN UP WITH GITHUB</a>
      <a href="/auth/bitbucket" class="waves-effect waves-light btn white text-primarycolor modal-trigger"><i class="fa fa-bitbucket" style="color: #689f38 !important"></i></i> SIGN UP WITH BITBUCKET</a>
    </div>
    <div class="row">
      <form method="get" action="/search" id="search">
        <input name="q" type="text" size="40" placeholder="Search..." /><span class="fa fa-search"></span></input>
      </form>
    </div>
    <div class="row" style="text-align: center">
      <div class="col s4 ">
        <h5 class="white-text sub-title">1111+ Projects</h5>
      </div>
      <div class="col s4">
        <h5 class="white-text sub-title">1111+ Contributers</h5>
      </div>
      <div class="col s4">
        <h5 class="white-text sub-title">40+ Languages</h5>
      </div>
    </div>
  </div>
</section>
<h1>Users#new</h1>
<% if current_user %>
  <li>
    Welcome <%= current_user.name %>
    <%= link_to('Logout', signout_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to("Sign in with Github", "/auth/github")  %>
  <%= link_to("Sign in with Bitbucket", "/auth/bitbucket")  %>
  </li>
<% end %>
