<div id="repos_and_pocs">
  <%= render partial: "repos_and_pocs", locals: {pocs: @pocs, repositories: @repositories} %>
</div>
<script>
  function hide_show_repo(path)
  {
    $.ajax({
    url: path,
    type: 'put'});
  }
</script>
