.repository-details {
  padding: 50px 0 30px 0;
  .body-content {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    .repo-content-body {
      padding: 0 15px;
      position: relative;
      .top-bg{margin: -15px 85px 0 -15px}
      .repo-content{
        padding-right:100px;
      }
    }
    .top-bg{
      background: url(bg-img.jpg);
      overflow: hidden;
      height: 150px
    }
    .repo-img {
      text-align: center !important;
      span{
        display:inline-block;
        width:200px;
        height:200px;
        margin-top:-100px;
        background:#fff;
        border-radius:50%;
        padding:0;
      }
      img {
        display: inline-block;
        max-width: 200px;
        border-radius: 50%;
      }
    }
    .repo-content {
      h1 {
        font-size: 22px;
        line-height:30px;
        padding:0;
        margin:15px 0 0 0;
        color: #7cb342;
      }
      p {
        color: #444;
      }
      .fav-icon-link{
        position: absolute;
        top: 160px;
        left:10px;
        a{color:#999;
          &:hover{
            color:#e91e63
          }
        }
      }
      .update-text {
        color: #999;
        font-size: 13px;
        margin-top: 5px;
      }
      .chip {
        padding: 0;
        background: #f2f2f2;
        transition: background .4s ease-in-out;
        a {
          color: #666;
          padding: 0 12px;
          line-height: 32px;
          display: inline-block;
          &:hover {
            color: #fff;
          }
        }
        &:hover {
          background: #7cb342;
          a {
            color: #fff;
          }
        }
      }
      .icons-row {
        position: absolute;
        height: 100%;
        width: 100px;
        top: 0;
        right: 0;
        background: #7cb342;
        &:after {
          content: "";
          position: absolute;
          bottom: -15px;
          right: 0;
          width: 100%;
          height: 15px;
          background: #7cb342;
          display: inline-block;
        }
        .left-icons {
          padding-top: 15px;
          padding-left: 25px;
          li {
            text-align: left;
            color: #fff;
            margin-bottom: 15px;
            .fa {
              font-size: 20px;
              width: 30px;
            }
          }
        }
        .social-share-button {
          text-align: center;
          padding-top: 15px;
          a {
            width: 100%;
            height: 32px;
            background-size:32px;
            display: inline-block;
            margin-bottom: 15px;
          }
        }
      }
      .data-column {
        display: inline-block;
        width: 100%;
        margin: 25px 0 15px 0;
        .left-column {
          padding-left: 0;
          float: left;
          width: 50%;
          text-align: center;
        }
        .right-column {
          float: left;
          width: 50%;
          a {
            color: #689f38;
            display: inline-block;
            font-size: 18px;
            border: solid 1px #689f38;
            padding: 10px;
            width: 180px;
            border-radius: 4px;
            .fa {
              margin-right: 6px;
            }
            &:hover {
              background: #689f38;
              color: #fff;
            }
          }
          ul li {
            margin-bottom: 15px;
            text-align: center;
          }
        }
      }
    }
    .add-repo-body{
      .top-bg{margin:-15px 0 0 0}
      #form-design{
        padding:15px 15px 0 15px;
        label.active{color:#689f38}
        button{background:#689f38}
        textarea.materialize-textarea:focus,
        input{padding:.8rem 0 1.6rem 0;min-height:3rem;margin-bottom:0;
          &:focus{
            border-bottom-color:#689f38;box-shadow:0 1px 0 0 #689f38
          }
        }
        .materialize-tags{
          padding:0;
          .chip{padding:0 12px;margin-left:0}
        }
        .materialize-tags.active{
          border-bottom-color: #689f38;
          box-shadow: 0 1px 0 0 #689f38;
        }
      }
    }
  }
}

.dashboard-tabs {
  margin-top: -15px !important;
  .tab a {
    color: #689f38 !important;
    &:hover {
      color: #333 !important;
    }
  }
  .indicator {
    background-color: #689f38 !important;
  }
}

.tables-data{
  .list-order{
    padding:0 5px;
    color: #818181;
    &.active {
      color: #7cb342;
    }
  }
  tr{
    th, td {
    padding: 15px 8px;
    }
  }
  .action-links {
    padding: 0 6px;
    margin-right: 5px;
    color: #818181;
    font-size: 18px;
    &:hover {
      color: #689f38;
    }
  }
  .switch label input[type="checkbox"]:checked + .lever {
    background-color: #7cb342;
    &::after {
      background-color: #7cb342;
    }
  }
}
.favourite-poc-data, .pocs-data {
  th:nth-child(1n){ text-align:center }
  th:nth-child(2n){ text-align:left }
  th:nth-child(3n){ text-align:center }
  th:nth-child(4n){ text-align:center }
  th:nth-child(5n){ text-align:center }
  td:nth-child(1n){ text-align:center }
  td:nth-child(2n){ text-align:left }
  td:nth-child(3n){ text-align:center }
  td:nth-child(4n){ text-align:center }
  td:nth-child(5n){ text-align:center }
}

.git-repo-data {
   th:nth-child(1n){width:6%;text-align:center}
   th:nth-child(2n){width:84%;text-align:left}
   th:nth-child(3n){width:10%;text-align:center}
   td:nth-child(1n){width:6%;text-align:center}
   td:nth-child(2n){width:84%;text-align:left}
   td:nth-child(3n){width:10%;text-align:center}
}

.tables-paging {
  padding: 0 15px;
  .pagination {
    margin-bottom: 0;
  }
}

.pagination li.active {
  background-color: #7cb342;
}

@media (max-width: 600px) {
  .repository-details .body-content {
    .top-bg {td:nth-child(1n){width:10%}
   td:nth-child(2n){width:80%}
   td:nth-child(3n){width:10%;text-align:center}
      margin-right: -15px;
    }
    .repo-content {
      padding-right: 0;
      .description {
        padding-bottom: 5px;
      }
      .icons-row {
        position: relative;
        height: auto;
        width: 100%;
        top: auto;
        right: auto;
        background: transparent;
        border-top: solid 1px #ddd;
        border-bottom: solid 1px #ddd;
        &:after {
          display: none;
        }
      }
      .data-column {
        .left-column, .right-column {
          float: none;
          width: 100%;
        }
      }
      .icons-row {
        .left-icons {
          padding-top: 0;
          padding-left: 0;
          li {
            display: inline;
            color: #689f38;
            margin-right: 15px;
            .fa {
              width: auto;
              margin-right: 4px;
            }
          }
        }
        .social-share-button {
          padding-top:0;
          display:inline;
          a{
            width:32px;
            margin-right: 15px;
            margin-bottom: 0;
          }
        }
      }
      .data-column {
        .left-column {
          padding-left: 0;
        }
        .right-column {
          padding-top: 15px;
        }
      }
    }
  }
}
@media (min-width: 601px) and (max-width: 768px){
  .repository-details{
    .body-content{
      .repo-content{
         .data-column{
          .left-column{
            width:100%;
          }
          .right-column{
            width:100%;
          }
         }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 992px){
  .repository-details{
    .body-content{
      .repo-content{
         .data-column{
          .left-column{
            width:65%;
          }
          .right-column{
            width:35%;
            a{width:160px}
          }
         }
      }
    }
  }
}
@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .git-repo-data{
    th{width:auto !important}
    td{width:auto !important}
  }
}

@media (min-width: 993px) and (max-width: 1199px) {
  .repository-details{
    .body-content{
      .repo-content{
         .data-column{
          .left-column{
            width:60%;
          }
          .right-column{
            width:40%;
          }
         }
      }
    }
  }
  .container {
    width: 85%;
  }
  .git-repo-data{
    th:nth-child(1n){width:12%}
    th:nth-child(2n){width:76%}
    th:nth-child(3n){width:12%}
    td:nth-child(1n){width:12%}
    td:nth-child(2n){width:76%}
    td:nth-child(3n){width:12%}
  }
}
