body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
main {
    flex: 1 0 auto;
}


nav {
  background-color: #689f38 !important;
  color: #fff;
  height: 56px;
  line-height: 56px;
  width: 100%;
  #nav-mobile{
    min-width:150px;
    .menu-item{
      .select-wrapper{
        .caret{top:0;color:#fff}
        .select-dropdown{border-bottom:none;height:auto;line-height:64px;margin:0}
        .dropdown-content{
          li{
            span{padding:21px 16px}
          }
        }
      }
      .searchbox{
        height:34px;
        line-height:34px;
        border-radius:4px;
        padding:0;
        width:90%;
        background:#fff;
        color:#444;
        text-indent:15px
      }
      .user-img-dropdown{line-height:13px;padding:0}
      .dropdown-content{
        min-width:150px;
        .menu-item{
          a{
            line-height:35px;
            .fa{margin-right:5px}
          }
        }
      }
    }
  }
}

.navfeature {
  box-shadow: none !important;
}

.form-text {
  font-size: 52px;
  padding: 5% 0;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  margin: 0.5rem 0 1rem;
  position: relative;
  transition: box-shadow 0.25s ease 0s;

  .card-image {
    overflow: hidden;
    position: relative;
    width: 100%;
    height:250px;

    img {
      border-radius: 2px 2px 0 0;
      bottom: 0;
      display: block;
      left: 0;
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  .waves-effect {
    display: block;
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out 0s;
    vertical-align: middle;
    will-change: opacity, transform;
    z-index: 1;
  }
}

.page-footer {
  background-color: #689f38 !important;
  margin-top: 20px;
  padding-top: 20px;
}

ul.languages {
  a {
    color: #fff !important;
  }
}

p.area {
  font-size: 12px;
  line-height: 0.75rem;
}

.card-title {
  line-height: 22px;
  padding-top: 10px;
  cursor: pointer;
  color: #846c63 !important;
}

.card .card-title {
  font-size: 18px !important;
}

#splash-blue {
  height: 600px;
  background-color: #7cb342 !important;
}

.github_login {
  color: #000 !important;
  text-align: center;
  padding: 30px;

  a {
    min-width: 30%;
    min-height: 50px;
    color: #689f38 !important;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 2.6;
  }
}

#search {}

#search input[type="text"] {
  background: #fff;
  border: 0 none;
  font: bold 18px Arial,Helvetica,Sans-serif;
  color: #d7d7d7;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#search input[type="text"]:focus {
  background: #fff;
  color: #6a6f75;
  border-radius: 0;
  box-shadow: none;
}

.fa-search {
  position: absolute;
  top: 421px;
  left: 1146px;
  font-size: 22px;
  color: #ccc;
}

.panel-layout {
  display: table;
  margin: 0 0 20px;
  table-layout: fixed;
  width: 100%;
  position:relative;

  .panel-box {
    display: table-cell;
    float: none !important;
    padding: 0 !important;
    table-layout: fixed;
    background: #fff none repeat scroll 0 0;
    border-color: #3244a8;
    color: #fff;

    .panel-content {
      border-width: 1px 0 0 1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;

      .fav-icon {
        position: absolute; right: 15px; top: 15px; z-index: 999;
      }
    }

    .panel-box.bg-default,
    .panel-box.bg-gray,
    .panel-box.bg-white,
    .panel-content.bg-default,
    .panel-content.bg-gray,
    .panel-content.bg-white {
      border-style: solid;
    }
  }

  .counter-box {
    padding: 20px !important;
    background-color: #689f38 !important;
    text-align: center;
    font-size: 1.0rem !important;
    i.medium {
      font-size: 1.5rem !important;
    };
    .btn{background:#fff;color:#689f38}
  }
}

.repo-show {
  margin-top: 20px;
}

.poc-img-show-box {}

.panel-content {
  img {
    width: 100%;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.para-text {
  color: #141c22 !important;
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin-bottom: 0 !important;
}

.poc-desc {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  padding: 0 20px;
  word-wrap: break-word;
}

.testimonial-author {
  margin-top: 20px !important;
  overflow: hidden;

  b {
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 6px 0 0;
  }

  span {
    text-transform: uppercase;
  }
}

.auth-img {
  margin: 0 25px 0 0 !important;
  float: left !important;
  width: 60px !important;
  border-radius: 6px !important;
  text-align: right !important;
}

.download-links {
  color: #000 !important;
  text-align: left;
  padding: 10px;

  a {
    min-width: 30%;
    min-height: 50px;
    color: #689f38 !important;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 2.6;
    margin-left: 10px;
  }

  i {
    color: #689f38 !important;
    font-size: 1.5rem !important;
  }
}

.poc_form {
  padding: 20px !important;

  button {
    background-color: #7CB342;
    float: right;
    margin-right: 40%;
  }

  button:hover {
    background-color: #689f38;
  }

  button:focus {
    background-color: #689f38;
  }

  textarea {
    height: 100px !important;
  }
}

.hovereffect {
  width: 280px;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #7CB342 !important;
}

.hovereffect .overlay {
  width: 300px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: 300px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  overflow: hidden;
  padding: 0.5em 0;
  background-color: transparent;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 2px;
  background: #fff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a,
.hovereffect p {
  color: #FFF;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a,
.hovereffect:hover p {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.chip {
  margin-left: 5px;
  a{color:#444}
}

.poc_desc_text_area {
  height: 100px;
}

.input:focus,
textarea:focus {
  border-bottom: 1px solid #7CB342 !important;
  -webkit-box-shadow: 0 1px 0 0 #7CB342 !important;
  -moz-box-shadow: 0 1px 0 0 #7CB342 !important;
  box-shadow: 0 1px 0 0 #7CB342 !important;
}

textarea:focus + label {
  color: #7CB342 !important;
}

.common-btn {
  background-color: #7CB342 !important;
}

.common-btn:hover {
  background-color: #689f38 !important;
}

.common-btn:focus {
  background-color: #689f38 !important;
}

.dash-table {
  td,
  th {
    padding: 20px !important;
  }
}

div.blockMsg {
    width:  40%;
    top:    30%;
    left:   30%;
    text-align: center;
    background-color: #00ff66;
    border: 1px solid #031c0d;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -moz-opacity:.70;
    opacity:.70;
    padding: 15px;
    color: #fff;
}

.table-heading {
  color: #689f38;
  padding-top: 14px;
  text-align: center;
}

.no-record {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center !important;
  font-weight: bold;
}
