<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col m6 s12">
        &copy;
        <a href="">CodeForest</a>
        - Powered by
        <a href="">BoTree Technologies</a>
      </div>
      <div class="col m6 s12 footer-links">
        <ul>
          <li>
            <a href="">About</a>
          </li>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
